body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
form {
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: aquamarine;
    color: black;
    border: none;
}
button:hover {
    background-color: aqua;
}
